.button-icon {
  padding: 10px;
  border-radius: 4px;
  background: var(--white);
  border: 2px solid var(--white);
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
}

.button-icon img {
  vertical-align: middle;
}
