.hero  {
  padding-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #7052ff; */
}
.hero-img{
  max-width: 300px;
  max-height: 300px; 
  border-radius: 50%;
}
.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image {
  background: linear-gradient(90deg, rgba(62,81,125,1) 0%, rgba(185,81,67,1) 40%, rgba(255,115,96,1) 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 5px;

}

.imagen-container{
  border-radius: 50%;
  padding: 5px;
} 


.hero h1 {
  font-size: 1.8em;
  display: block;
 
  word-spacing: 10px;
}
.hero-title{
  font-size: 1.8em;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
 



}

@media screen and (min-width: 1024px) {
  .hero-image img {
    width: 100%;
  }
}