.hero  {
  padding-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(244, 152, 49, 1);
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14px;
}

.hero-image {
  text-align: center;
}

.hero-image img {
  max-inline-size: 100%;
  block-size: auto;
}


.hero h1 {
  font-size: 1.8em;
  display: block;
 
  word-spacing: 10px;
}
.hero-title{
  font-size: 1.8em;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
  .hero-image {
    order: 2;
    text-align: end;
    flex: 1;
  }



}

@media screen and (min-width: 1024px) {
  .hero-image img {
    inline-size: 500px;
    block-size: 504px;
  }
}