.hero  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: red;
  margin: 10px;
  border-radius: 20px;
  color: black;
  border: 2px solid #e6a15c;
}
.hero-img {
  width: 30%;
  border-radius: 20px;
}
.hero-img img{
  max-width: 250px;
}
.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image {
  background: #e6a15c;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

}

.imagen-container{
  border-radius: 50%;
  padding: 5px;
} 


.hero h1 {
  font-size: 1.8em;
  display: block;
 font-weight: bolder;
  word-spacing: 10px;
}
.hero-title{
  font-size: 1.8em;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
 



}

@media screen and (min-width: 1024px) {
  .hero-image img {
    width: 300px;
  }
}