@import "./button.css";
@import "./button-icon.css";
@import "./header.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./project.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";


:root {
  --fontBase: 'Poppins', sans-serif;
  --headline1: bold 95px/153.71px var(--fontBase);
  --headline2: bold 59px/95px var(--fontBase);
  --headline3: bold 48px/77px var(--fontBase);
  --headline4: bold 34px/55px var(--fontBase);
  --headline5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase);
  --caption: 12px/19px var(--fontBase);
  --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #151d75 0%, rgba(108, 117, 201, 0) 100%), linear-gradient(135deg, #554cd6 0%, #2424a3 100%);
  --purple: #310A90;
  --green: #42E2B8;
  --white: white;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--white);
  margin: 0;
}
.portafolio{
  display: flex;
  flex-wrap: wrap;
}
.proyecto{
  width: 33%;
  margin: 20px;
  padding: 10px;
  border: 2px solid wheat;
}
.proyecto-img img{
  width: 100%;
}
h1 span{
  font-size: 12px;
}
@media screen and (max-width: 700px) {
  .portafolio{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .proyecto{
    width: 80%;
  }
}


