.project {
  padding: 20px;
  border: 1px solid rgba(244, 152, 49, 1);
  background-color: black;
  margin: 10px;
}


.project-image img {
  max-inline-size: 100%;
}
.tablet{
  width: 626px;
}
.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .project-description {
    flex: 1;

  }
  .project:nth-child(odd) .project-image {
    order: 2;
    flex: 1;
    text-align: center;
  }
}