.button-icon{
    img{
        width: 30px;
    }
}
.button{
    background-color: #0d74e7;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px;
}
.button2{
    background-color: #2fb84f;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px;

}
.botonera{
    display: block;
    a{
        
    }
}