.sidebar{
    background-color: #2b3137;
    color: yellow;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 6px;
    height: 100%;
    
}
@media screen and(min-width:750px) {
    .sidebar{
        width: 50%;
        border-right: 1px solid #ffffff;
    }
}